{% extends "base.html" %}
{% load humanize profiling_explorer_tags %}
{% block main %}
<main>
  <table>
    <thead>
      <tr>
        {% for col in columns %}
        <th><a href="{% querystring sort=col.next_sort %}">{{ col.label }} <pe-sort-indicator>{{ col.indicator }}</pe-sort-indicator></a>
        {% if col.key == "calls" or col.key == "cumulative_ms" %}<th>%
        {% endif %}{% endfor %}
        <th class=filename>filename:lineno function
        <th>
    </thead>
    <tbody>
      {% for row in rows %}
      {% include "_row.html" with row=row stats=row focal=False only %}
      {% endfor %}
    </tbody>
  </table>
  {% if next_url %}<pe-pagination-marker data-url="{{ next_url }}"></pe-pagination-marker>{% endif %}
</main>
{% endblock %}
